page-add-text {
  ion-navbar{
    ion-icon{
      font-size: 25px;
      color: white
    }
  }
  .color-picker{
    background: white;
  }
  .btnEdit{
    background: linear-gradient(to right, #fc5555,#f77062);
  }
}
