
element-list{

  .item-wrapper{
    padding:5px 15px;
    &:last-of-type {
      padding-bottom: 200px;
    }
    &:first-of-type{
      padding-top:25px;
    }
  }

  .emptyItems{
    font-size: 17px;
    text-align: center;
    color: #80828b;
    margin-top: 40px;
  }

  .text-option{
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 1px 10px;
    font-size: 11px;
    position: absolute;
    right: 0;
    margin-top: 50px;
    display: none;
    p{
      color: black;
    }
    &::after{
      content: "";
      /* align-items: center; */
      width: 0px;
      height: 0px;
      border-left: 10px solid #d6858500;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f8665d;
      /* align-items: center; */
      position: absolute;
      top: 0;
      right: 6px;
      top: -9px;
    }
  }

  .showTextOption{
    .text-option{
      display: block;
    }
  }


  .btnEditText{
    background: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #f8665d;
    padding-top: 5px;
    margin-left: 7px;
    position: absolute;
    right: 0;
    bottom: -38px;
    font-size: 25px;

  }
  .text-wrapper{
    position: relative;
  }
  .delete-img{
    background: linear-gradient(to right, #fc5555,#f77062);
      width: 100px;
      /* height: 32px; */
      position: absolute;
      text-align: center;
      top: 0;
      right: 0;
      font-size: 10px;
      color: white;
      text-transform: uppercase;
      padding: 12px 0;
      border-bottom-left-radius: 15px;
      cursor: pointer;
      display: none;
  }

  .edit-imageOption button{
    position: absolute;
    bottom: 14px;
    right: 10px;
    background: linear-gradient(to right, #fc5555,#f77062);
    display: none;
  }

  .img-info{
    left: 0;
    position: absolute;
    bottom: 3px;
    background: linear-gradient(to right, #fc5555,#f77062);
    color: white;
    padding: 10px 15px;
    border-top-right-radius: 41%;
    p{
      margin: 0;
      font-size: 10px;
      font-weight: normal;
    }
  }
  .edit-imageOption{
    position: absolute;
    width: 100%;
  }

  .imageOption {
    position: relative;
    .delete-img ,.edit-imageOption button ,.img-info{
      display: block;
    }
  }
  img{
    width: 100%;
    min-height: 110px;
  }

}
